@media only screen and (min-device-width: 374px) and (max-device-width: 767px) {
    .header-top {
        flex-direction: column;
        height: fit-content;
    }

    .header-item {
        width: 100%;
        font-size: small;
    }

    .justify-content-right {
        justify-content: center;
    }

    .justify-content-left {
        justify-content: center;
    }

    .header-bottom {
        flex-direction: column;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .header-bottom-item {
        width: 100%;
    }

    .header-bottom-item {
        justify-content: center;
        align-items: center;
    }

    .ul-header-item-menu {
        font-size: small;
        gap: 10px;
    }
    .link-menu {
        width: 80px;
    }

    .li-header-item {
        justify-content: center;
        align-items: center;
    }

    .header-menu-banner {
        flex-direction: column;
        padding-top: 20px;
    }

    .header-menu {
        display: none;
    }

    .header-search {
        gap: 10px;
    }

    .header-banner {
        width: 100%;
    }

    .input-search {
        font-size: small;
    }

    .div-phone {
        gap: 10px;
    }

    .div-hotro {
        font-size: small;
    }

    .btn-search {
        font-size: small;
    }

    .main {
        padding: 0%;
    }
    .div-slide {
        width: 100%;
    }

    .div-sp-hot {
        width: 100%;
    }

    .div-product {
        width: 45%;
    }

    .img-product {
        width: 130px;
        height: 90px;
    }

    .div-eye-cart {
        padding-left: 40px;
    }

    .div-icon {
        width: 30%;
        height: 20px;
    }

    .post {
        flex-direction: column;
    }

    .div-post-item {
        width: 100%;
    }

    .div-content-post {
        font-size: 10px;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
    }

    .div-footer {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    
    .ul-footer {
        gap: 2px;
    }

    .div-sp-item {
        width: 50%;
        height: 150px;
    }

    .li-footer-item {
        font-size: small;
    }

    .div-category-store {
        width: 100%;
    }

    .post-main {
        flex-direction: column;
        padding: 10px;
    }

    .div-hot-post {
        display: none;
    }

    .div-post-main {
        width: 100%;
    }

    .div-banner-lien-he {
        height: 110px;
    }

    .lien-he-content {
        flex-direction: column;
        font-size: small;
    }

    .lien-he-address {
        width: 100%;
        height: 510px;
    }
    
    .div-address-icon-text {
        gap: 5px;
    }
    
    .address-icon-text {
        padding-left: 10px;
    }

    .div-map {
        width: 100%;
    }
}